.form {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    margin-bottom: 30px;
}

.form input,
.form select {
    border: none;
    padding: 5px 10px;
}

.form article {
    background-color: var(--white);
    padding: 15px 30px;
    border-radius: 10px;
    width: 100%;
}

.form h5 {
    margin-bottom: 15px;
}

.form .inner label {
    display: block;
    margin-bottom: 5px;
}

.form .inner {
    display: flex;
    justify-content: space-between;



}


.inner .line {
    width: 1px;
    background-color: var(--blue-superlight)
}

.form svg {
    background-color: var(--main-color);
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 18px;
}



@media screen and (max-width: 1100px) {
    .form {
        flex-direction: column;
        gap: 5px;
    }

    .form .inner {
        justify-content: center;
    }


    .form svg {
        height: 35px;
        width: 35px;
        padding: 5px;
    }
}