.detail {
    background-color: var(--bg-color);
    padding: 30px;
}

.box-wrapper-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.detail img,
.car-meta-data,
.reviews {
    border-radius: 30px;
    background-color: var(--white);

}

.car-meta-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-meta-data,
.reviews {
    padding: 30px;
}

.detail h1 {
    margin-bottom: 5px;
}

.detail .stars {
    margin-bottom: 30px;
}



.car-meta-data article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.car-meta-data article p {
    margin-bottom: 15px;
    color: var(--blue-light);

    display: flex;
    width: 250px;
    justify-content: space-between;


}

.car-meta-data article p span {
    color: #596780;



}