.detail {
    background-color: var(--bg-color);
    padding: 15px 30px 30px 30px;
}

.box-wrapper-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.detail img,
.car-meta-data,
.reviews-detail {
    border-radius: 10px;
    background-color: var(--white);

}

.car-meta-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-meta-data,
.reviews-detail {
    padding: 30px;
}

.detail h1 {
    margin-bottom: 5px;
}

.detail .stars {
    margin-bottom: 30px;
}

.box-wrapper-detail img {
    height: 100%;
    object-fit: cover;
}

.car-meta-data article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.car-meta-data article p {
    margin-bottom: 15px;
    color: var(--blue-light);

    display: flex;
    width: 250px;
    justify-content: space-between;
}

.reviews-detail {
    margin-bottom: 60px;
}

.car-meta-data article p span {
    color: #596780;
}

.reviews-detail h4 {
    margin-bottom: 60px;
}

.reviews-detail h4 span {
    background-color: var(--main-color);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.detail-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.detail-footer h3 {
    color: var(--blue-light);
}

.detail-footer a {
    color: var(--main-color);
}


.car-meta-data article h2 span {
    font-size: 16px;
    color: var(--blue-light);
}

.detail .map {
    height: 400px;

}

@media screen and (max-width: 950px) {
    .box-wrapper-detail {
        grid-template-columns: 1fr;
    }

    .car-meta-data article {
        flex-direction: column;
    }
}