.car-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.btn-more-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.btn-more-wrp .btn-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.btn-more-wrp h4 {
    margin: 0;
}

@media screen and (max-width: 950px) {
    .car-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 690px) {
    .car-list {
        grid-template-columns: repeat(1, 1fr);
    }
}